---
import { Image } from "astro:assets";
import BlackSmallTitle from "../components/BlackSmallTitle.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import PageTitie from "../components/PageTitie.astro";
import PageTitieForProject from "../components/PageTitieForProject.astro";
import Profile from "../components/Profile.astro";
import Layout from "./Layout.astro";

const imageFiles = await Astro.glob("../../public/image/screenshots/*.png");
for (var img of imageFiles) console.log(img);

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <Menu />
    <PageTitieForProject
        title={frontmatter.title}
        team={frontmatter.team}
        fileName={frontmatter.fileName}
    />

    <main>
        <BlackSmallTitle>게임 소개</BlackSmallTitle>

        <div class="poster-and-description end-block">
            <img
                class="poster"
                src=`/2024/image/posters/${frontmatter.fileName}.png`
            />
            <div class="description">
                <slot />
            </div>
        </div>

        <BlackSmallTitle>소개 영상 & 스크린샷</BlackSmallTitle>
        <div
            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
            class="swiper mySwiper2 block-drag"
        >
            <div class="swiper-wrapper">
                <!-- Youtube -->
                <!-- <div class="swiper-slide">
                    <iframe
                        class=""
                        width="1920"
                        height="1080"
                        src=`https://www.youtube.com/embed/${frontmatter.youtube}`
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                </div> -->

                <!-- Images will be inserted here-->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <div class="swiper mySwiper block-drag end-block">
            <div class="swiper-wrapper">
                <!-- Youtube -->
                <!-- <div class="swiper-slide">
                    <img
                        src=`https://img.youtube.com/vi/${frontmatter.youtube}/default.jpg`
                    />
                </div> -->

                <!-- Images will be inserted here-->
            </div>
        </div>

        <BlackSmallTitle>팀원</BlackSmallTitle>
        <div class="profile-group end-block">
            {
                frontmatter.profileNames.map((name: string, idx: number) => (
                    <Profile
                        name={name}
                        role={frontmatter.profileRoles[idx]}
                        email={frontmatter.profileEmails[idx]}
                        page={frontmatter.profilePages[idx]}
                    />
                ))
            }
        </div>
    </main>

    <!-- ShareThis BEGIN -->
    <div class="sharethis-inline-reaction-buttons end-block"></div>
    <!-- ShareThis END -->

    <div id="game-title" class="d-none">{frontmatter.title}</div>
    <div id="file-name" class="d-none">{frontmatter.fileName}</div>
</Layout>

<style is:inline>
    .swiper {
        width: 100%;
        border-radius: 0.625rem;
        overflow: hidden;
        height: 18.75rem;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-wrapper {
        border-radius: 0.625rem;
    }

    .swiper-slide {
        position: relative;
        text-align: center;
        font-size: 1.125rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        border-radius: 0.625rem;
        overflow: hidden;
    }

    .swiper-slide img,
    .swiper-slide iframe {
        position: relative;
        display: block;
        max-width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .mySwiper2 {
        height: 80%;
        width: 100%;
    }

    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        margin-top: 0.625rem;
    }

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script is:inline>
    let fileName = document.querySelector("#file-name").textContent;

    async function loadImages() {
        const images = [];
        let index = 1;

        while (true) {
            try {
                let path = `/2024/image/screenshots/${fileName}_${index}.png`;

                // 이미지가 있는지 체크
                const response = await fetch(path);

                // 성공적으로 로드되면 이미지 배열에 추가
                if (response.ok) {
                    images.push(path);
                } else {
                    break; // 더 이상 이미지를 찾을 수 없을 때 루프 종료
                }
            } catch (error) {
                break; // 이미지가 없을 때 또는 에러가 발생했을 때 루프 종료
            }

            index++;
        }

        return images; // 로드된 이미지 목록을 반환
    }

    loadImages().then((images) => {
        // HTML 문자열을 미리 구성
        let html = "";

        for (let img of images) {
            html += `
            <div class="swiper-slide">
                <img src="${img}" />
            </div>`;
        }

        // 한 번에 innerHTML로 업데이트
        let swiper1 = document.querySelector(".mySwiper .swiper-wrapper");
        let swiper2 = document.querySelector(".mySwiper2 .swiper-wrapper");
        console.log(swiper1.innerHTML);

        swiper1.innerHTML += html;
        console.log(swiper1.innerHTML);
        swiper2.innerHTML += html;

        let Swiper1 = new Swiper(".mySwiper", {
            loop: true,
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesProgress: true,
        });

        let Swiper2 = new Swiper(".mySwiper2", {
            loop: true,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: Swiper1,
            },
        });

        Swiper1.update();
        Swiper2.update();
    });
</script>

<style>
    .poster-and-description {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 3.125rem;
        align-items: start;
    }

    .poster {
        border-radius: 0.625rem;
    }

    .poster,
    .description {
        flex: 1;
        max-width: calc(
            50% - 1.563rem
        ); /* 양쪽 여백을 고려해 이미지의 최대 너비 설정 */
        height: auto; /* 이미지 비율 유지 */
    }

    @media (width <= 600px) {
        .poster-and-description {
            flex-direction: column;
            align-items: center;
        }

        .poster {
            flex: 0 0 auto;
            max-width: calc(100% - 4.375rem);
            margin-bottom: 1.875rem;
        }

        .description {
            max-width: 100%;
        }
    }

    .profile-group {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem; /*  자식 요소들 간의 가로 간격 설정 */
        row-gap: 1rem;
        justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
    }
</style>
